.body {
  margin: 0 auto;
}

.app {
  margin: 0 auto;
  text-align: center;
}

.app__table {
  margin: auto;
  -webkit-box-shadow: 0 4px 24px 0 #85d5d9;
  -moz-box-shadow: 0 4px 24px 0 #85d5d9;
  box-shadow: 0 4px 24px 0 #85d5d9;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border: 3px solid #85d5d9;
  padding: 3px;
  table-layout: fixed ;
  width: 70% ;
  border-collapse: collapse;
}

.app__table-head,
.app__table tr:nth-child(even) {
  background-color: #85d5d9;
}

.app__type-container-img {
  width: 40px;
  height: 40px;
}

.app__type-container-button {
  height: 40px;
  width: 120px;
}

.app__type-container {
  display: flex;
  justify-content: center;
}

.app__date-container {
  display: flex;
  justify-content: center;
}

.app__date-container .app__date-container-button {
  height: 25px;
  width: 80px;
}
