.body {
  margin: 0 auto;
}

.App {
  margin: 0 auto;
  text-align: center;
}

.AppTable {
  margin: auto;
  -webkit-box-shadow: 0 4px 24px 0 #85d5d9;
  -moz-box-shadow: 0 4px 24px 0 #85d5d9;
  box-shadow: 0 4px 24px 0 #85d5d9;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border: 3px solid #85d5d9;
  padding: 3px;
  table-layout: fixed ;
  width: 70% ;
  border-collapse: collapse;
}

.tableHead,
.AppTable tr:nth-child(even) {
  background-color: #85d5d9;
}

.departure-bg-img,
.arrival-bg-img {
  width: 40px;
  height: 40px;
}

.typeButton {
  height: 40px;
  width: 120px;
}

.typeContainer {
  display: flex;
  justify-content: center;
}

.pickADate {
  display: flex;
  justify-content: center;
}

.pickADate .dateButton {
  height: 25px;
  width: 80px;
}
